.grid_3
  %br
.grid_5
  %h3
    Sign in
  %br
  - semantic_form_for resource_name, resource, :url => session_path(resource_name) do |form|
    - form.inputs do
      = form.input :email
      = form.input :password

      - if devise_mapping.rememberable?
        = form.input :remember_me, :as => :radio, :input_html => { :checked => "1" }

    - form.buttons do
      = form.commit_button :button_html => { :value => "Sign in" }

    %br
    = render :partial => "shared/devise_links"