%h2
  Sign up
%fieldset
  - form_for resource_name, resource, :url => registration_path(resource_name) do |f|
    = f.error_messages
    %br
    = f.label :email
    %br
    = f.text_field :email
    %br
    = f.label :username
    %br
    = f.text_field :username
    %br
    = f.label :password
    %br
    = f.password_field :password
    %br
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation
    %br
    = f.submit "Sign up"
  %br
  = render :partial => "shared/devise_links"
