- semantic_form_for @project, :html => { :multipart => true } do |f|
  - f.inputs do
    = f.error_messages

    = f.input :name

    = f.input :content

    = f.file_field :screenshot

    = f.input :path

    = f.input :detail

    = f.input :url_project

    = f.input :url_demo

  = f.buttons
