<h1>New post</h1>
<div style="width: 400px">
<% semantic_form_for(@post) do |f| %>
  <%= f.error_messages %>
  <%= f.inputs :name %>
  <%= f.inputs :title1, :as => :radio %>
  <%= f.inputs :title2, :as => :password %>
  <%= f.inputs :title3 %>
  <%= f.inputs :title4 %>
  <%= f.inputs :title5 %>
  <%= f.commit_button %>
<% end %>

<%= link_to 'Back', posts_path %>
</div>
