.grid_12
  .right
    %ul#nav
      %li
        = link_to "<span>Create New Site</span>", projects_path
      %li
        = link_to "<span>Administrator Profile</span>", edit_user_registration_path
.clearfix
#thumbnail-list
  = render :partial => "thumbnail"



%table#list-table
  %thead
    %tr
      %th
        No.
      %th
        Sitename
      %th
        Enable
      %th
        Project
      %th
        Status
      %th
        Last Updated
      %th
        Site ID
      %th
        Edit

  %tbody
  - i = 1
  - for site in @sites
    - if i % 2 == 0
      %tr.even
        = render :partial => "t_row", :locals => {:site => site, :i => i}

    - else
      %tr.odd
        = render :partial => "t_row", :locals => {:site => site, :i => i}

    - i = i + 1