- semantic_form_for(@site) do |form|
  = form.error_messages
  - form.inputs do
    = form.input :name, :label => "Site name", :hint => ".project.com", :input_html => { :size => "10" }
    = form.input :description, :as => :text, :label => "Site info", :input_html => { :size => "5x5" }, :hint => "Type about your website"

    = form.input :project_id, :as => :hidden
    
  - form.buttons do
    = form.commit_button :button_html => { :value => "Submit" }


