%table#report
  %thead
    %tr
      %th
        %h3
          Status
      %th
        %h3
          Information
  %tbody
    %tr
      %td#report-status
        - case @site.status
        - when "Online"
          = link_to(image_tag("deploy_ok.png"), "http://" +@site.name + ".project.com")
          %h5
            %span.tick
              =h @site.status.to_s().capitalize
          .success#site-shoutbox
            Online since…
          
        - when "Promt for Install"
          = link_to image_tag("promt_install.png"),:controller => "sites", :action => "deploy"
          %h5
            %span.tick
              = link_to @site.status.to_s().capitalize,:controller => "sites", :action => "deploy"
          .success#site-shoutbox
            = link_to "Waiting for starting install the site.",:controller => "sites", :action => "deploy"
            
        - when "Deploying process Incomplete!"
          = image_tag("deploy_error.png")
          %h5
            %span.tick
              = link_to @site.status.to_s().capitalize,:controller => "sites", :action => "deploy"
          .error#site-shoutbox
            = link_to "Please contact staff.",:controller => "sites", :action => "deploy"
        
        - when "Deploying Process" 
          = image_tag("waiting.png")
          %h5
            %span.tick
              = link_to @site.status.to_s().capitalize,:controller => "sites", :action => "deploy"
          .notice#site-shoutbox
            = link_to "The site is currently building. Please wait for 5-10 minutes",:controller => "sites", :action => "deploy"
          
        - else
          = image_tag("waiting.png")

      %td#report-list
        = render :partial => "report_table"
      
.clearfix

#toolbar
  %h3
    TOOLS

  = render :partial => "tools"