%table#list-table{:width=>"100%"}
  %tbody
    %tr.odd
      %td{:width => "20%"}
        Site name
        
      %td
        = link_to @site.name.to_s().capitalize + ".project.com", "http://" + @site.name.to_s().capitalize + ".project.com"
        .note
          If you would like to change your domain, Please contact our staff
          
    %tr.even
      %td
        Site description
        
      %td
        =h @site.description.to_s().capitalize
        =link_to image_tag("edit.png", :size => "16x16"), edit_project_site_path(@site)
    %tr.odd
    
      %td
        Project
        
      %td
        = link_to @site.project.name+"  " + image_tag("information.png", :size => "16x16"), project_path(@site.project)

    %tr.even
      %td
        Project Version
      %td
        = link_to @site.project.version, project_path(@site.project)
        
    %tr.odd
    
      %td
        Site administrator
        
      %td 
        = link_to @site.name.to_s().capitalize + ".project.com" + "/admin", "http://" + @site.name.to_s().capitalize + ".project.com" + "/admin"
        
        .note
          logging by using username: <strong>admin </strong> and password: <strong>admin</strong>
    %tr.even
      %td
        Size
      %td
        =h `du -sh .`.match(/[0-9]*.[0-9]*M/)[0] + " / unlimited"
    %tr.odd
      %td
        Status
      %td
        =h @site.status
    %tr.even
      %td
      %td
        = link_to "Download Log file", :controller => "sites", :action => "get_log"