#tabs-1
  %h4
    =link_to @project.name, @project
  .box{:style=>"text-align:center;"}
    = link_to image_tag(@project.screenshot_file_name, :size => "150x160"), @project
  
  #tab-content
    = "Version : "
    = @project.version
    %br
    %br
    = "Demo visit"
    %br
    = link_to @project.url_demo, @project.url_demo;
    %br
    %br
    = "Official site"
    %br
    = link_to @project.url_project,@project.url_project;



-#tabs-2
  -#= render :partial => "shared/gallery"

-#tabs-3
  -#= render :partial => "projects/detail", :local => { :project => @project }

