- z = 0
- for site in @sites
  .grid_12
    .thumbnail
      .setting
        = link_to "Edit profile", edit_site_path(site)
        = link_to "More…"
      .thumbnail-image
        =image_tag(site.project.screenshot_file_name,:size => '80x100')
      .detail
        %h2
          = link_to "#{site.name}", site_path(site)
        %p
          = link_to "#{site.project.name}", project_path(site.project.id)
        .thumbnail-status
          ONLINE
        .left
        = site.status

  - z = z + 1