.left
  %table#toolbar-table
    %tr
      %td
        #select_view
          %span
            = image_tag "thumbnail_view.png", :size => "32x32", :onclick => "view_thumbnail()"
            :javascript
              function view_thumbnail(){
                document.getElementById('thumbnail-list2').setAttribute('style','display: none;');
                document.getElementById('thumbnail-list1').setAttribute('style','display: normal;');
              }
          Thumbnail View
      %td
        #select_view
          %span
            = image_tag "table_view.png", :size => "32x32", :onclick => "view_list()"
          List View
          :javascript
            function view_list(){
              document.getElementById('thumbnail-list1').setAttribute('style','display: none;');
              document.getElementById('thumbnail-list2').setAttribute('style','display: normal;');
            }
.right
  %table#toolbar-table
    %tr
      %td
        %a{:href=>"#{projects_path}"}
          %span{:width => "32"}
            = image_tag "add.png", :size => "32x32"
          Create Site
      %td
        %a{:href=>"#{edit_user_registration_path}"}
          %span{:width => "32"}
            = image_tag "edit_profile.png", :size => "32x32"
          Admin profile
      
.clearfix