%html
  %head
    %title Instant Online Applications
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'text'
    = stylesheet_link_tag '960'
    
    = stylesheet_link_tag 'galleriffic-1'
    = stylesheet_link_tag 'jquery-ui-1.8.2.custom'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'jquery.lightbox-0.5'
    
    = formtastic_stylesheet_link_tag
    = javascript_include_tag "jquery-1.4.2.min"
    = javascript_include_tag "jquery-ui-1.8.2.custom.min"
    = javascript_include_tag "jquery.galleriffic"

    = javascript_include_tag "jquery.lightbox-0.5"
    
    -#= stylesheet_link_tag 'ext-all'
    -#= stylesheet_link_tag 'grid-examples'

    -#= javascript_include_tag "ext-base"
    -#= javascript_include_tag "ext-all"
    -#= javascript_include_tag 'site_list'

    = javascript_include_tag "application"

  %body#application
    .wrapper
      .header
        .container_12
          .grid_12
            = render :partial => "shared/login"
            #nav
              = render :partial => "shared/nav"

          .clearfix

          .grid_12#title
            %h1
              = yield(:header) ||"Instant Online Application"


      .content
        .container_12
          .grid_12
            -if flash[:notice]
              .success
                = flash[:notice]
            -if flash[:alert]
              .notice
                = flash[:alert]  
            -if flash[:warning] 
              .error
                = flash[:warning] 
            -#= render :partial => "shared/flash"

          .clearfix

          = yield
 
    .clearfix

  .footer
    -#= render :partial => "shared/footer"

