%html
  %head
    %title Instant Online Applications
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'text'
    = stylesheet_link_tag '960'
    = stylesheet_link_tag 'application'
    -#= stylesheet_link_tag 'demo2'
    = javascript_include_tag "jquery"
    = javascript_include_tag "jquery.dimensions"
    = javascript_include_tag "jquery.accordion"
    = javascript_include_tag "home"
            
  %body
    .header
      .container_12
        .grid_12
          = render :partial => "shared/login"
          #nav
            = render :partial => "shared/nav"

        -#.grid_6#logo
        -#=link_to "<h1>Instant Online Application</h1>", projects_path
        -#.grid_6#nav
          

        .clearfix

        .grid_12#title
          %h1
            = yield :header

    .content
      .container_12
        .grid_12
          -if flash[:notice]
            .success
              = flash[:notice]

          -if flash[:alert]
            .notice
              = flash[:alert]

        .clearfix

        = yield

    .clearfix

    .footer
      = render :partial => "shared/footer"
    

