%html
  %head
    %title Instant Online Applications
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'text'
    = stylesheet_link_tag '960'
    = stylesheet_link_tag 'home'
    = javascript_include_tag "jquery"
    = javascript_include_tag "jquery.dimensions"
    = javascript_include_tag "jquery.accordion"
    = javascript_include_tag "home"
            
  %body
    #header
      .container_12
        .grid_12#top
          = render :partial => "shared/login"
          #nav
            = render :partial => "shared/nav"
        .clearfix
        .grid_12#title
          %p
            Build a Web Application faster than ever
          %p
            CRM / ERP / Project Managent / Blog / Online Store
          %p
            Just One Click to install, Gets A Web Application
          %p
            Zero setting or Configuration
        .clearfix
        .grid_12#middle
          .right
            %br
            = link_to(image_tag("../images/home_create_button.png"),projects_path)
    .content
      .container_12
        .grid_12
          - if flash[:notice]
            .success
              = flash[:notice]
          - if flash[:alert]
            .notice
              = flash[:alert]
        .clearfix
        
        = yield

    .clearfix

  .footer
    = render :partial => "shared/footer"
    

