%html
  %head
    %title Instant Online Applications
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'text'
    = stylesheet_link_tag '960'
    -#= stylesheet_link_tag 'styleLogin'
    = stylesheet_link_tag 'application'
    -#= stylesheet_link_tag 'fx.slide'
    -#%script{:type => "text/javascript", :src  => "../javascripts/mootools-1.2-core-yc.js"}
    -#%script{:type => "text/javascript", :src  => "../javascripts/mootools-1.2-more.js"}
    -#%script{:type => "text/javascript", :src  => "../javascripts/fx.slide.js"}
            
  %body
    .header
      .container_12
        .grid_12#user
          - if user_signed_in?
            Logged in as
            = current_user.username
          - else
            =link_to "Log in", new_user_session_path
            |
            =link_to "Sign up", new_user_registration_path
        .grid_6#logo
          %h1 Instant Online Application
        .grid_6#nav
          = render :partial => "pages/nav"
          .clearfix

        -# .grid_5#logo
        -#  %img{:src => "/images/logo.png"}

    .content
      .container_12
        .grid_12#application-header
        #flash-notice
          = flash[:notice]
        = yield
    .clearfix

    .footer
      = render :partial => "pages/footer"
    

