%html
  %head
    %title Instant Online Applications
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'text'
    = stylesheet_link_tag '960'
    = stylesheet_link_tag 'application'
            
  %body
    .header
      .container_12
        .grid_12
          = render :partial => "shared/login"
          #nav
            = render :partial => "shared/nav"

        -#.grid_6#logo
        -#=link_to "<h1>Instant Online Application</h1>", projects_path
        -#.grid_6#nav
          

        .clearfix

        .grid_12#title
          %h1
            Instant Online Application

    .content
      .container_12
        .grid_12
          -if flash[:notice]
            .success
              = flash[:notice]

          -if flash[:alert]
            .notice
              = flash[:alert]

        .clearfix

        .grid_12
          %ul
            %li
              %h2
                Zero setting/Configuration & Free trial
            %li
              %h2
                Onlien support 24-hours
            %li
              %h2
                The powerful webs are now available
          .clearfix

        = yield

    .clearfix

    .footer
      = render :partial => "shared/footer"
    

