%html
  %head
    %title Instant Online Applications
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'text'
    = stylesheet_link_tag '960'
    -#= stylesheet_link_tag 'styleLogin'
    = stylesheet_link_tag 'application'
    -#= stylesheet_link_tag 'fx.slide'
    -#%script{:type => "text/javascript", :src  => "../javascripts/mootools-1.2-core-yc.js"}
    -#%script{:type => "text/javascript", :src  => "../javascripts/mootools-1.2-more.js"}
    -#%script{:type => "text/javascript", :src  => "../javascripts/fx.slide.js"}
            
  %body
    .header
      .container_12
        .grid_12
          = render :partial => "shared/login"

        .grid_6#logo
          =link_to "<h1>Instant Online Application</h1>", projects_path

        .grid_6#nav
          = render :partial => "shared/nav"

        .grid_12
          %hr
        .clearfix


    .content
      .container_12
        .grid_12
          -if flash[:notice]
            .success
              = flash[:notice]

          -if flash[:alert]
            .notice
              = flash[:alert]

        .clearfix

        = yield

    .clearfix

    .footer
      = render :partial => "shared/footer"
    

